# Node
**/node_modules/

# Env
backend/.env

# Firebase service account
firebase_service_account.json
backend/serviceAccountKey.json

# Android build
android-app/app/build/
android-app/.gradle/
android-app/.idea/

# OS
.DS_Store
Thumbs.db
nul