<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="Smart Matatu"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartMatatu"
        android:usesCleartextTraffic="true">
        <activity
            android:name="matatu_system.A1.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".passenger.PassengerDashboardActivity" />
        <activity android:name=".driver.DriverActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".map.MapViewActivity" />

    </application>

</manifest>
